        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f0f0f0;
        }

        header {
          background-color: #007acc;
          color: #fff;
          padding: 20px;
          text-align: center;
        }

        nav {
          background-color: #333;
          color: #fff;
        }

        nav ul {
          list-style-type: none;
          padding: 0;
        }

        nav ul li {
          display: inline;
          margin-right: 60px;
          position: relative;

        }

        nav ul li a {
          text-decoration: none;
          color: #fff;
        }

        /* Style for the dropdown menu */
        nav ul ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #333;
          width: 150px;

        }

        nav ul li:hover ul {
          display: block;
        }


        /* Adjust dropdown item styles as needed */
        nav ul ul li {
          display: block;
          margin-right: 0;          
        }


        main {
          padding: 20px;
          display: flex;
          justify-content: space-between;
        }


        .task-section,
        .progress-section {
          background-color: #fff;
          padding: 20px;
          border: 1px solid #ccc;
          flex-basis: 48%;
        }

        .goals-objectives-section,
        .progress-section-goals-objectives {

          background-color: #fff;
          padding: 20px;
          border: 1px solid #ccc;
          flex-basis: 48%;

        }

        h2 {
          color: #333;
        }

        #progress-bar {
          background-color: #ccc;
          height: 20px;
          border-radius: 10px;
          overflow: hidden;
        }

        #progress-fill {
          background-color: #007acc;
          height: 100%;
          width: 50%;          
        }

        #progress-bar-goals-objectives {
          background-color: #ccc;
          height: 20px;
          border-radius: 10px;
          overflow: hidden;
        }

        #progress-fill-goals-objectives {
          background-color: #007acc;
          height: 100%;
          width: 50%;          
        }

        footer {
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 10px;
          position: fixed;         
          bottom: 0;         
          width: 100%;
        }